In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
url = "https://raw.githubusercontent.com/yinghaoz1/tmdb-movie-dataset-analysis/refs/heads/master/tmdb-movies.csv"
importedDf = pd.read_csv(url)

In [ ]:
importedDf.iloc[0]

id                                                                 135397
imdb_id                                                         tt0369610
popularity                                                      32.985763
budget                                                          150000000
revenue                                                        1513528810
original_title                                             Jurassic World
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
homepage                                    http://www.jurassicworld.com/
director                                                  Colin Trevorrow
tagline                                                 The park is open.
keywords                monster|dna|tyrannosaurus rex|velociraptor|island
overview                Twenty-two years after the events of Jurassic ...
runtime                                                               124
genres                          Action|Adventure|Science Fiction|Thriller
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date                                                       6/9/15
vote_count                                                           5562
vote_average                                                          6.5
release_year                                                         2015
budget_adj                                               137999939.280026
revenue_adj                                               1392445892.5238
Name: 0, dtype: object

In [ ]:
importedDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [ ]:
df = importedDf.loc[:,['imdb_id', 'original_title', 'cast', 'director', 'keywords', 'overview', 'genres', 'vote_average', 'release_year']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         10856 non-null  object
 1   original_title  10866 non-null  object
 2   cast            10790 non-null  object
 3   director        10822 non-null  object
 4   keywords        9373 non-null   object
 5   overview        10862 non-null  object
 6   genres          10843 non-null  object
 7   vote_average    10866 non-null  float64
 8   release_year    10866 non-null  int64
dtypes: float64(1), int64(1), object(7)
memory usage: 764.1+ KB

In [ ]:
df = df.dropna().reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9303 entries, 0 to 9302
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         9303 non-null   object
 1   original_title  9303 non-null   object
 2   cast            9303 non-null   object
 3   director        9303 non-null   object
 4   keywords        9303 non-null   object
 5   overview        9303 non-null   object
 6   genres          9303 non-null   object
 7   vote_average    9303 non-null   float64
 8   release_year    9303 non-null   int64
dtypes: float64(1), int64(1), object(7)
memory usage: 654.2+ KB

In [ ]:
df.cast = df.cast.str.replace(' ','_')
df.cast = df.cast.str.replace('|',' ')

In [ ]:
df.iloc[1].cast

'Tom_Hardy Charlize_Theron Hugh_Keays-Byrne Nicholas_Hoult Josh_Helman'

In [ ]:
df.director = df.director.str.replace(" ", '_')
df.director

0          Colin_Trevorrow
1            George_Miller
2         Robert_Schwentke
3              J.J._Abrams
4                James_Wan
               ...
9298           Bruce_Brown
9299    John_Frankenheimer
9300        Eldar_Ryazanov
9301           Woody_Allen
9302      Harold_P._Warren
Name: director, Length: 9303, dtype: object

In [ ]:
df.keywords = df.keywords.str.replace(' ','_')
df.keywords = df.keywords.str.replace('|',' ')

df.keywords

0       monster dna tyrannosaurus_rex velociraptor island
1        future chase post-apocalyptic dystopia australia
2       based_on_novel revolution dystopia sequel dyst...
3                   android spaceship jedi space_opera 3d
4                     car_race speed revenge suspense car
                              ...
9298                             surfer surfboard surfing
9299                            car_race racing formula_1
9300                             car trolley stealing_car
9301                                                spoof
9302                  fire gun drive sacrifice flashlight
Name: keywords, Length: 9303, dtype: object

In [ ]:
df.genres = df.genres.str.replace(' ','_')
df.genres = df.genres.str.replace('|',' ')

df.genres

0       Action Adventure Science_Fiction Thriller
1       Action Adventure Science_Fiction Thriller
2              Adventure Science_Fiction Thriller
3        Action Adventure Science_Fiction Fantasy
4                           Action Crime Thriller
                          ...
9298                                  Documentary
9299                       Action Adventure Drama
9300                               Mystery Comedy
9301                                Action Comedy
9302                                       Horror
Name: genres, Length: 9303, dtype: object

In [ ]:
df.release_year = ((df.release_year)//10)*10
df.release_year

0       2010
1       2010
2       2010
3       2010
4       2010
        ...
9298    1960
9299    1960
9300    1960
9301    1960
9302    1960
Name: release_year, Length: 9303, dtype: int64

In [ ]:
# df['tags'] = df.cast + ' ' + df.director + ' ' + df.keywords + ' ' + df.genres + ' ' + df.overview
df['tags'] = df.cast + ' ' + df.director + ' ' + df.keywords + ' ' + df.genres

df.tags[0]

"Chris_Pratt Bryce_Dallas_Howard Irrfan_Khan Vincent_D'Onofrio Nick_Robinson Colin_Trevorrow monster dna tyrannosaurus_rex velociraptor island Action Adventure Science_Fiction Thriller"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9303 entries, 0 to 9302
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         9303 non-null   object
 1   original_title  9303 non-null   object
 2   cast            9303 non-null   object
 3   director        9303 non-null   object
 4   keywords        9303 non-null   object
 5   overview        9303 non-null   object
 6   genres          9303 non-null   object
 7   vote_average    9303 non-null   float64
 8   release_year    9303 non-null   int64
 9   tags            9303 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 726.9+ KB

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
  lis = []
  for i in text.split():
    lis.append(ps.stem(i))

  return " ".join(lis)

df['tags'] = df['tags'].apply(stem)

In [ ]:
CV = CountVectorizer(max_features = 5000, stop_words = 'english')
tagsVector = CV.fit_transform(df.tags).toarray()

In [ ]:
df = df.drop(columns = ['cast', 'director', 'keywords', 'overview', 'genres', 'release_year'])

In [ ]:
print(tagsVector[0],tagsVector.shape)
print(df.info())

[0 0 0 ... 0 0 0] (9303, 5000)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9303 entries, 0 to 9302
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         9303 non-null   object
 1   original_title  9303 non-null   object
 2   vote_average    9303 non-null   float64
 3   tags            9303 non-null   object
dtypes: float64(1), object(3)
memory usage: 290.8+ KB
None

In [ ]:
print(CV.get_feature_names_out()[:100])

['1970' '3d' '3d_anim' '50_cent' '_abram' '_allan_brocka' '_anderson'
 '_armstrong' '_austin' '_avildsen' '_b' '_bailey' '_barri' '_bassett'
 '_baxley' '_bel' '_benjamin' '_boarding_school' '_brook' '_brown' '_bush'
 '_caruso' '_chu' '_cobb' '_cook' '_cosmato' '_d' '_daili' '_davi'
 '_dickerson' '_dippã' '_dutton' '_elli' '_emmet_walsh' '_evan' '_ferr'
 '_ferrant' '_forman' '_fox' '_furi' '_g' '_gary_gray' '_germain' '_gr'
 '_grace_moretz' '_hal' '_henson' '_hogan' '_j' '_jackson' '_john'
 '_johnson' '_jon' '_jordan' '_jr' '_kennedi' '_knowl' '_kravitz' '_le'
 '_lee_ermey' '_lee_thompson' '_lest' '_littl' '_lovecraft' '_maci'
 '_mcginley' '_mclaglen' '_mil' '_murray_abraham' '_nelson'
 '_night_shyamalan' '_o' '_pakula' '_presid' '_reilli' '_romero' '_russel'
 '_ryan' '_sand' '_schaffn' '_scott' '_sevigni' '_simmon' '_simpson'
 '_smith' '_soldi' '_sweeney' '_t' '_thomas_howel' '_v' '_w' '_walsh'
 '_ward' '_whit' '_william' '_wilson' 'a_bern' 'a_conchita_alonso'
 'a_leoni' 'a_maestro']

In [ ]:
similarityVector = cosine_similarity(tagsVector)

In [ ]:
(similarityVector[-1], similarityVector.shape)

(array([0., 0., 0., ..., 0., 0., 1.]), (9303, 9303))

In [ ]:
def recommend(movieId):
  index = df[ df['imdb_id'] == movieId ].index[0]
  distances = list(enumerate(similarityVector[index]))
  distances.sort(reverse=True, key=lambda x:x[1])
  return distances[:11]

def recommendFromTitle(title):
  index = df[ df['original_title'] == title ].index[0]
  distances = list(enumerate(similarityVector[index]))
  distances.sort(reverse=True, key=lambda x:x[1])
  return distances[:11]

In [ ]:
def getMovieNameList(lis):
  ret = []
  for i,l in lis:
    ret.append((df.iloc[i].original_title,l))

  return ret

def getMoviewIdList(lis):
  ret = []
  for i,l in lis:
    ret.append(df.iloc[i].imdb_id)

  return ret

In [ ]:
print(getMovieNameList(  recommend('tt1228705')  ) )

[('Iron Man 2', np.float64(1.0)), ('Iron Man', np.float64(0.6153846153846154)), ('Iron Man 3', np.float64(0.6139406135149206)), ('Avengers: Age of Ultron', np.float64(0.592999453328881)), ('The Avengers', np.float64(0.592999453328881)), ('The Fantastic Four', np.float64(0.49029033784546006)), ('Captain America: The Winter Soldier', np.float64(0.4447495899966608)), ('The Incredible Hulk', np.float64(0.44474958999666075)), ('Marvel One-Shot: The Consultant', np.float64(0.41812100500354543)), ('Thor: The Dark World', np.float64(0.41812100500354543)), ('Shogun Assassin', np.float64(0.41602514716892186))]

In [ ]:
print(getMovieNameList(  recommendFromTitle('Iron Man 2')  ) )

[('Iron Man 2', np.float64(1.0)), ('Iron Man', np.float64(0.6153846153846154)), ('Iron Man 3', np.float64(0.6139406135149206)), ('Avengers: Age of Ultron', np.float64(0.592999453328881)), ('The Avengers', np.float64(0.592999453328881)), ('The Fantastic Four', np.float64(0.49029033784546006)), ('Captain America: The Winter Soldier', np.float64(0.4447495899966608)), ('The Incredible Hulk', np.float64(0.44474958999666075)), ('Marvel One-Shot: The Consultant', np.float64(0.41812100500354543)), ('Thor: The Dark World', np.float64(0.41812100500354543)), ('Shogun Assassin', np.float64(0.41602514716892186))]

In [ ]:
# import pickle
# pickle.dump(df, open('movies.pkl', 'wb'))

In [ ]:
# pickle.dump(similarityVector, open('similarityVector2.pkl', 'wb'))

In [ ]:
# from google.colab import files
# files.download('/content/similarityVector2.pkl')